In [1]:
# Contoh comment variable
a = 10 #Integer
b = 3.14 #Float
c = "abc" #String kutip 2 maupun 1
d = 'abc'
e = True #Boolean
f = False #Foolean
k = [] #List
l = [1,2,3] #List
m =  {} #Dictinoary
n = () #Tuple

#Print fungsi utama/berguna untuk Debug

In [2]:
#Print berguna untuk debugging
print(c)

abc

In [3]:
print(2+2*7)

16

In [8]:
nama = "Urel"
rumah = "indo"
umur = 15

In [9]:
#Concatination
print("Hai namaku adalah " + nama +", umurku " + str(umur) +", rumahku di " + rumah)
print("Hai namaku adalah {}, umurku {}, rumahku di {}".format(nama,umur,rumah))

Hai namaku adalah Urel, umurku 15, rumahku di indo
Hai namaku adalah Urel, umurku 15, rumahku di indo

In [10]:
nama = input()

bla bla

In [11]:
print("Hai, namaku adalah " + nama + ", umurku " + str(umur))
print("Hai, namaku adalah ", nama ,", umurku ", umur)
print("Hai, namaku adalah {}, umurku {}, saya tinggal di {}".format(nama, umur, tempat)) #Recommended
print("nama {}, umur {}".format(nama,umur))

Hai, namaku adalah bla bla, umurku 15
Hai, namaku adalah  bla bla , umurku  15
Hai, namaku adalah bla bla, umurku 15, saya tinggal di indo
nama bla bla, umur 15

In [12]:
import math
a = 10
b = 10
#If else

## Conditional Statement
a == b
a != b
a < b
a <= b
a > b
a >= b
True and True
False or True 

##Operator
a + b
a - b
a * b
a / b # 10 / 10 = 1.0 --> Float Division
a // b # 10 // 10 = 1 --> Integer Division
a ** b # 10^10 = 100
a % b # Modulus
a ** (1/2) # akar variable a, dimana a = 10
math.sqrt(a) # akar variabel a
math.sin(a)
math.tan(a)
math.cos(a)
math.tanh(a)
math.sinh(a)
math.cosh(a)
math.log(a)

2.302585092994046

In [13]:
if a == 10:
  print("a sama dengan 10")
elif a > 10:
  print("a lebih dari 10")
else:
  print("a kurang dari 10")
print("ini diluar if")

a sama dengan 10
ini diluar if