In [ ]:
#list []
#dictionary{}
#tuple() cuma bisa dilihat ga bisa di tambahin
#set{}
#looping
#function

In [ ]:
#list
contoh_list = ["abc",12, 12.0, ["aaa","bbb"], {},(),True]
print(contoh_list[0])
print(contoh_list[1])
print(contoh_list[-1]) #isi list terakhir

abc
12
True

In [1]:
#Dictionary Key di kiri Value di kanan
contoh_dict = {2:"abc", "satu":1, False:12.0, 3.0:["qqq","www"], "Dict":{}, 333:(), "Boolean":True}
print(contoh_dict[2])
print(contoh_dict["satu"])

abc
1

In [ ]:
#contoh method di dict : .keys()
contoh_dict.keys()

dict_keys([2, 'satu', False, 3.0, 'Dict', 333, 'Boolean'])

In [ ]:
#Contoh method List
List1 = [3,2,1,4,5,6]

In [ ]:
List1.append("abc")
print(List1)

[3, 2, 1, 4, 5, 6, 'abc']

In [ ]:
List1.insert(4, "David")
print(List1)

[3, 2, 1, 4, 'David', 5, 6, 'abc']

In [ ]:
List_Angka = [3,4,5,2,1]
List_Angka.sort()
print(List_Angka)

[1, 2, 3, 4, 5]

In [ ]:
List_Angka.sort(reverse = True)
print(List_Angka)

[5, 4, 3, 2, 1]

In [ ]:
List_Angka.pop()
print(List_Angka)

[5, 4, 3, 2]

In [ ]:
List_Angka.remove(3)
print(List_Angka)

[5, 4, 2]

In [ ]:
list_angka = [1,2,3,4,5,0]

In [ ]:
for i in list_angka:
  if i == 0:
    print("ada angka 0")

ada angka 0

In [ ]:
for i in list_angka:
  if i == 0:
    list_angka.remove(i)
list_angka

[1, 2, 3, 4, 5]

In [ ]:
#set ga bisa di lihat harus di ubah ke list dulu
set_angka = set(List_Angka)
print(set_angka)

{2, 4, 5}

In [ ]:
list_angka = list(set_angka)
print(list_angka)

[2, 4, 5]

In [ ]:
#tuple itu constant ga bisa di ubah
tuple_angka = [1,2,3,4,5]
print(tuple_angka[0])

1

In [ ]:
contoh_dict = {2:"abc", "satu":1, False:12.0, 3.0:["qqq","www"], "Dict":{}, 333:(), "Boolean":True}

In [ ]:
contoh_dict["asd"] = [100]

In [ ]:
print(contoh_dict)

{2: 'abc', 'satu': 1, False: 12.0, 3.0: ['qqq', 'www'], 'Dict': {}, 333: (), 'Boolean': True, 'asd': [100]}

In [ ]:
contoh_dict["asd"].append(200)
print(contoh_dict)

{2: 'abc', 'satu': 1, False: 12.0, 3.0: ['qqq', 'www'], 'Dict': {}, 333: (), 'Boolean': True, 'asd': [100, 200]}

In [ ]:
#contoh_dict.pop("asd") /  atau bisa ubah value jadi None
del contoh_dict["asd"]

In [ ]:
print(contoh_dict)

{2: 'abc', 'satu': 1, False: 12.0, 3.0: ['qqq', 'www'], 'Dict': {}, 333: (), 'Boolean': True}

In [ ]:
#Looping

for i in range(10):
  print("Halo")

Hai
Hai
Hai
Hai
Hai
Hai
Hai
Hai
Hai
Hai

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range (0,10,2): #angka dari 0-10 loncat 2 angka
  print(i)

0
2
4
6
8

In [ ]:
for i in range (20,0,-1): 
  print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
#while looping -> Forever Looping
while True:
  print("Forever Looping")

In [3]:
#while looping
a = 0
while a < 20:
  print("a lebih kecil dari 20 {}".format(a))
  a += 1

a lebih kecil dari 20 0
a lebih kecil dari 20 1
a lebih kecil dari 20 2
a lebih kecil dari 20 3
a lebih kecil dari 20 4
a lebih kecil dari 20 5
a lebih kecil dari 20 6
a lebih kecil dari 20 7
a lebih kecil dari 20 8
a lebih kecil dari 20 9
a lebih kecil dari 20 10
a lebih kecil dari 20 11
a lebih kecil dari 20 12
a lebih kecil dari 20 13
a lebih kecil dari 20 14
a lebih kecil dari 20 15
a lebih kecil dari 20 16
a lebih kecil dari 20 17
a lebih kecil dari 20 18
a lebih kecil dari 20 19

In [ ]:
#Umur user yang di input tidak boleh dibawah 17
while True:
  umur = int(input())
  if umur >= 17:
    break

16
14
20

In [ ]:
while True:
  umur = int(input())
  if umur == 17:
    continue
  elif umur > 17:
    break
  print("Dibawah umur")

16
Dibawah umur
22

In [ ]:
#for else
for i in range (0,20,1):
  print(i)
  if i == 2:
    break
else:
  print("muncul jika break tidak terjadi")

0
1
2

In [ ]:
#for else
for i in range (0,10,1):
  print(i)
else:
  print("a")

0
1
2
3
4
5
6
7
8
9
a

In [ ]:
#function
def nila(a,b):
  #masukkan kode disini
  if a > b:
    return a
  else :
    return b

In [ ]:
print(nila(3,10))

10

In [ ]:
for i in contoh_dict:
  print(i)

2
satu
False
3.0
Dict
333
Boolean

In [4]:
for char in "Alvin":
  print(char)

A
l
v
i
n

In [ ]:
for idx, nilai in enumerate(list_angka):
  print("indeks : {}".format(idx))
  print("nilai : {}".format(nilai))

indeks : 0
nilai : 1
indeks : 1
nilai : 2
indeks : 2
nilai : 3
indeks : 3
nilai : 4
indeks : 4
nilai : 5

In [ ]:
list_angka.append(0)

In [ ]:
for idx, nilai in enumerate(list_angka):
  if nilai == 0:
    list_angka[idx] = "nol"
list_angka

[1, 2, 3, 4, 5, 'nol']